<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/estilos.css" />
    <link rel="stylesheet" href="/assets/css/display.css" />
    <link rel="stylesheet" href="/assets/css/lista_productos.css" />
    <title>Lista de Productos</title>
  </head>
  <body class="dp-flex ai-c jc-c">
    <header>
      <nav id="nav-bar" class="dp-flex ai-c jc-sb">
        <div class="logo dp-flex ai-c">
          <picture>
            <img src="/assets/img/logo.jpg" alt="elitech-logo" />
          </picture>
          <h1 onclick="window.location.href = '/index.php';">ELITECH</h1>
        </div>
        <ul class="dp-flex">
          <li><a href="/index.php">Home</a></li>
          <li><a href="/backend/views/categorias.html">Categorias</a></li>
          <li><a href="/backend/categorias.php">Lista Categorias</a></li>
          <li>
            <a href="/backend/productos.php?forProducts=true">Productos</a>
          </li>
          <li><a href="/backend/productos.php">Lista Productos</a></li>
        </ul>
      </nav>
    </header>
    <main class="dp-flex ai-c jc-fe fd-c">
      <div class="table-bg">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>DESCRIPCION</th>
              <th>CATEGORIA</th>
              <th>PRECIO</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach($products as $p):?>
            <tr>
              <td title="<?=strtoupper($p['identificador'])?>">
                <?=strtoupper($p['identificador'])?>
              </td>
              <td title="<?=strtoupper($p['nombre'])?>">
                <?=strtoupper($p['nombre'])?>
              </td>
              <td title="<?=strtoupper($p['descripcion'])?>">
                <?=strtoupper($p['descripcion'])?>
              </td>
              <td title="<?=strtoupper($p['nombre_categoria'])?>">
                <?=strtoupper($p['nombre_categoria'])?>
              </td>
              <td title="<?=number_format($p['precio'])?>">
                <?=number_format($p['precio'])?>
              </td>
            </tr>
            <?php endforeach;?>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
