<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/estilos.css" />
    <link rel="stylesheet" href="/assets/css/display.css" />
    <link rel="stylesheet" href="/assets/css/lista_productos.css" />
    <title>Lista de Productos</title>
  </head>
  <body class="dp-flex ai-c jc-c">
    <header>
      <nav id="nav-bar" class="dp-flex ai-c jc-sb">
        <h1 onclick="window.location.href = '/index.php';">ELITECH</h1>
        <ul class="dp-flex">
          <li><a href="/backend/views/categorias.html">Categorias</a></li>
          <li><a href="/backend/categorias.php">Lista Categorias</a></li>
          <li>
            <a href="/backend/productos.php?forProducts=true">Productos</a>
          </li>
          <li><a href="/backend/productos.php">Lista Productos</a></li>
        </ul>
      </nav>
    </header>
    <main class="dp-flex ai-c jc-fe fd-c">
      <h2>Productos</h2>
      <ul class="card-container dp-flex fw-wrap">
        <?php foreach ($products as $product): ?>
        <li class="card dp-flex ai-c jc-sb fd-c">
          <?php
              // Convertir BLOB a base64
              $imageData = $product['imagen'];
              $image = base64_encode($imageData);
              ?>
          <picture class="dp-flex ai-c jc-c">
            <img
              src="data:image/png;base64, <?php echo $image; ?>"
              alt="<?php echo htmlspecialchars($product['nombre']); ?>"
            />
          </picture>
          <h3><?php echo htmlspecialchars($product['nombre']); ?></h3>
          <div class="desc-container">
            <p><?=$product['descripcion']?></p>
          </div>
          <p>
            CLP
            <?=$product['precio']?>
          </p>
          <span><?=$product['nombre_categoria']?></span>
        </li>
        <?php endforeach; ?>
        <!-- <li class="card dp-flex ai-c jc-sb fd-c">
          <picture>
            <img
              src="/assets/img/Captura de pantalla 2024-07-09 121832.png"
              alt="product-logo"
            />
          </picture>
          <h3>Producto 1</h3>
          <div class="desc-container">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum
              alias ratione cupiditate, quibusdam mollitia modi sunt aliquam
              dignissimos voluptas vel non harum id molestias voluptate
              excepturi, nesciunt velit est maiores.
            </p>
          </div>
          <p>CLP 2.990</p>
          <span>Categoria</span>
        </li> -->
      </ul>
    </main>
  </body>
</html>
