<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/estilos.css" />
    <link rel="stylesheet" href="/assets/css/display.css" />
    <link rel="stylesheet" href="/assets/css/productos.css" />
    <link rel="stylesheet" href="/assets/css/alertMsg.css" />
    <title>Alta de Productos</title>
  </head>
  <body class="dp-flex ai-c jc-c">
    <header>
      <nav id="nav-bar" class="dp-flex ai-c jc-sb">
        <div class="logo dp-flex ai-c">
          <picture>
            <img src="/assets/img/logo.jpg" alt="elitech-logo" />
          </picture>
          <h1 onclick="window.location.href = '/index.php';">ELITECH</h1>
        </div>
        <ul class="dp-flex">
          <li><a href="/index.php">Home</a></li>
          <li><a href="/backend/views/categorias.html">Categorias</a></li>
          <li><a href="/backend/categorias.php">Lista Categorias</a></li>
          <li>
            <a href="/backend/productos.php?forProducts=true">Productos</a>
          </li>
          <li><a href="/backend/productos.php">Lista Productos</a></li>
        </ul>
      </nav>
    </header>
    <main class="dp-flex ai-c jc-c fd-c">
      <h1>Alta de Productos</h1>
      <form
        id="product"
        class="dp-flex ai-c jc-sa fd-c"
        action="/backend/productos.php"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-label-container dp-flex ai-c jc-c fd-c">
          <div class="form-id-name-container dp-flex ai-c jc-sb">
            <label for="identifier"></label>
            <input
              type="text"
              id="identifier"
              name="productId"
              placeholder="ID"
              required
            />
            <label for="name"></label>
            <input
              type="text"
              id="name"
              name="productName"
              placeholder="Nombre"
              required
            />
          </div>
          <label for="image"></label>
          <input
            title="Imagen"
            type="file"
            accept=".png"
            id="image"
            name="productImg"
          />
          <label for="description"></label>
          <textarea
            type="text"
            id="description"
            name="productDescription"
            placeholder="Descripción"
          ></textarea>
          <div class="form-price-category-container dp-flex ai-c jc-sb">
            <label for="category"></label>
            <select name="productCategory" id="category" required>
              <option value="" disabled selected>Seleccionar categoría</option>
              <?php foreach($data as $item):?>
              <option
                id="<?=$item['identificador']?>"
                value="<?=strtoupper($item['identificador'])?>"
              >
                <?=ucfirst(strtolower($item['nombre']))?>
              </option>
              <?php endforeach;?>
            </select>
            <label for="price"></label>
            <input
              type="number"
              id="price"
              name="productPrice"
              placeholder="Precio"
              required
            />
          </div>
        </div>
        <div class="form-btn-container dp-flex ai-c jc-sa">
          <input
            type="button"
            onclick="window.location.href = '/index.php';"
            value="Cancelar"
          />
          <input id="btn-submit" type="submit" value="Guardar" />
        </div>
      </form>
      <span>Gever Rodríguez</span>
    </main>
    <div id="bg-disable" class="inactive dp-flex ai-c jc-c">
      <div id="alert-msg" class="dp-flex ai-c jc-c fd-c">
        <h2>Por favor, complete los campos:</h2>
        <ul></ul>
        <span id="name-alert">Gever Rodríguez</span>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="Anonymous"
    ></script>
    <script src="/assets/js/validaciones.js"></script>
  </body>
</html>
